 .page-header #headertopbar {
     font-family: popping-semibold;
     padding: 16px 0 5px 0;
     background-color: #fff;
 }

 #page-header .container,
 .container-fluid {
     margin-right: auto;
     margin-left: auto;
     padding-left: 50px;
     padding-right: 50px;
 }

 .container-fluid {
     max-width: 1920px;
 }

 .page-header #headertopbar .headertopbar-inner {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: justify;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .page-header .headertopbar-revenue {
     display: inline-block;
     text-decoration: none;
 }

 .page-header .headertopbar-revenue .title {
     font-family: popping-semibold;
     margin: 0 0 2px;
     font-weight: 700;
     font-size: 12px;
     line-height: 1.2;
     letter-spacing: .05em;
     text-transform: uppercase;

 }


 .page-header .headertopbar-revenue .value {
     position: relative;
     margin: 0;
     padding-right: 22px;
     font-family: popping-semibold;
     font-weight: 800;
     font-size: 18px;
     line-height: 120%;
     letter-spacing: -.0045em;
     display: inline-block;
 }


 .page-header .headertopbar-revenue .value i {
     font-size: 15px;
     margin-right: 8px;
 }

 .page-header .headermenu-inner .menu-toggle {
     display: none;
     top: 16px;
     right: 24px;
     z-index: 5;
 }

 .page-header .burger {
     width: 22px;
     height: 18px;
     position: relative;
     display: block;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: .5s ease-in-out;
     -moz-transition: .5s ease-in-out;
     -o-transition: .5s ease-in-out;
     transition: .5s ease-in-out;
     cursor: pointer;
 }

 .page-header .burger span:nth-child(1) {
     top: 0;
 }

 .page-header .burger span:nth-child(2) {
     top: 8px;
 }

 .page-header .burger span:nth-child(3) {
     top: 16px;
 }

 .page-header .burger span {
     display: block;
     position: absolute;
     height: 2px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     width: 100%;
     background: #222;
     opacity: 1;
     left: 0;
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     transform: rotate(0deg);
     -webkit-transition: .25s ease-in-out;
     -moz-transition: .25s ease-in-out;
     -o-transition: .25s ease-in-out;
     transition: .25s ease-in-out;
 }

 .page-header #headertopbar .headertopbar-right {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;

 }

 .page-header .headertopbar-menu {
     font-family: inherit;
     list-style: none;
     margin: 0;
     padding: 0;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
 }

 .page-header .headertopbar-menu li:first-child {
     margin-left: 0;
 }

 .page-header .headertopbar-menu li {
     display: inline-block;
     margin-left: 16px;
     padding: 0;
 }

 .page-header ul li,
 .page-header ol li {
     padding: 0;
 }

 .page-header .headertopbar-menu li a {
     text-align: center;
     padding: 8px;
     position: relative;
     font-family: inherit;
     display: block;
     font-weight: 400;
     font-size: 18px;
     line-height: 1;
     letter-spacing: -.0045em;
     color: #ff6200;
     text-decoration: none;
 }

 .page-header .headertopbar-menu li a i {
     display: inline-block;
     font-size: 16px;
     vertical-align: baseline;
     margin-right: 9px;
 }

 .page-header #headertopbar .get_proposal_btn {
     display: none;
     margin-left: 16px;
 }

 .page-header .get_proposal_btn {
     padding: 10px 40px;
     font-weight: 600;
     font-family: inherit;
     font-size: 18px;
     line-height: 28px;
     text-align: center;
     letter-spacing: -.0045em;
     color: #000000;
     background: #ffc514;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 35px;
     text-decoration: none;
     white-space: nowrap;
 }







 /*#####################
 ####    Menu Area   ###
 #######################*/

 #headermenu {
     font-family: popping-semibold;
     background-color: #fff;
     width: 100%;
     z-index: +9999;
     transition: 0.3s ease-in-out;
     box-shadow: rgba(3, 27, 78, .1) 0 3px 4px;
 }

 #headermenu .headermenu-inner {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
 }

 #headermenu .headermenu-inner .headermenu-logo img {
     width: 100%;
     max-width: 221px;
     padding: 20px 0px;
 }

 .headermenu-main ul.headermenu-firstmenu {
     display: flex;
     justify-content: center;
     margin: 0px;
     padding: 0px;
     flex-wrap: wrap;
 }

 #headermenu .headermenubar-button {
     display: flex;
 }

 .headermenu-main ul.headermenu-firstmenu li {
     list-style: none;
 }

 .headermenu-main ul.headermenu-firstmenu li:hover {
     background: #fffce5;
     border-radius: 10px 10px 0px 0;
 }

 .headermenu-main ul.headermenu-firstmenu li:hover a {
     color: #ff6200;
 }

 .headermenu-main ul.headermenu-firstmenu li>a {
     border-radius: 8px 8px 0 0;
     text-align: left;
     position: relative;
     display: block;
     padding: 35px 10px;
     font-family: inherit;
     font-weight: 400;
     font-size: 16px;
     line-height: 100%;
     letter-spacing: -.0045em;
     color: #222;
     text-decoration: none;
     word-break: initial;
     cursor: pointer !important;
     position: relative;
     padding-right: 25px;
 }

 .headermenu-main ul.headermenu-firstmenu li>a:after {
     position: absolute;
     content: " ";
     width: 11px;
     height: 10px;
     background-image: url(../images/arrow-down.png);
     background-size: contain;
     background-repeat: no-repeat;
     top: 45%;
     right: 9px;
     transition: all 0.3s;
 }

 .headermenu-main ul.headermenu-firstmenu li:hover a:after {
     background-image: url(../images/arrow-up.png);
     top: 42%;
     transform: rotate(-180deg);
 }

 .highlight-list {
     background: #fffce5;
     border-radius: 5px 5px 0px 0;
 }

 .highlight-anchor {
     color: #ff6200 !important;
 }

 .submenu-container.dropdownshow {
     display: block !important;
 }

 #menu-item-111:hover>.submenu-container {
     display: block;
 }

 .headermenu-main .submenu-container {
     width: 100%;
     background-color: #fffce5;
     position: absolute;
     left: 0px;
     padding: 20px 20px;
     display: none;
     z-index: +999;
 }

 .headermenu-main .submenu-container.active {
     display: block;
 }



 @media(max-width:1550px) {
     .headermenu-main ul.headermenu-firstmenu li>a {
         padding: 30px 10px;
         padding-right: 28px;
         font-size: 15px;
     }

     .headermenu-main ul.headermenu-firstmenu li>a:after {
         width: 10px;
         top: 45%;
         right: 10px;
     }
 }

 @media(max-width:1300px) {
     .page-header .get_proposal_btn {
         padding: 8px 25px;
     }

     #page-header .container,
     .container-fluid {
         padding-left: 20px;
         padding-right: 20px;
     }

     #headermenu .headermenu-inner .headermenu-logo img {
         max-width: 200px;
         padding: 15px 10px 15px 0px;
     }
 }


 @media (max-width: 1550px) {
     .page-header .get_proposal_btn {
         font-size: 15px;
     }

     .page-header .headertopbar-menu li {
         margin-left: 8px;
     }
 }

 @media (max-width: 1199px) {
     .page-header #headertopbar .get_proposal_btn {
         padding: 12px 16px;
         font-size: 14px;
         line-height: 17px;
     }

     .page-header #headertopbar .headertopbar-right {
         width: 100%;
         -ms-flex-pack: justify;
         justify-content: space-between;
     }

     .page-header .headertopbar-menu li,
     .page-header .headertopbar-revenue,
     .page-header #headertopbar .get_proposal_btn {
         display: none;
     }

     #headermenu .headermenubar-button {
         display: none;
     }
     .headermenu-main ul.headermenu-firstmenu li>a {
        padding: 30px 50px; 
        font-size: 15px;
    }
     .headermenu-main ul.headermenu-firstmenu li>a:after {
         width: 12px; 
         right: 58px;
     }

     #headermenu .headermenu-main {
         display: block;
         position: absolute;
         height: 100vh;
         background: #fff;
         top: 65px;
         left: 0;
         z-index: +9999;
         width: 100%;
         overflow: hidden;
         bottom: 0px;
     }
     

     .headermenu-main ul.headermenu-firstmenu li {
         width: 100%;
     }

     .page-header .headermenu-inner .menu-toggle {
         display: block;
         padding-right: 40px;
     }
 }

 @media (max-width: 1199px) {

     .page-header .headertopbar-menu li.phone,
     .page-header #headertopbar .get_proposal_btn {
         display: block;
     }

     #page-header .container,
     .container-fluid {
         padding-left: 15px;
         padding-right: 15px;
     }

 }