 .page-header #headertopbar {
     font-family: popping-semibold;
     padding: 16px 0 0;
     background-color: #fff;
 }

 #page-header .container,
 .container-fluid {
     margin-right: auto;
     margin-left: auto;
     padding-left: 50px;
     padding-right: 50px;
 }

 .container-fluid {
     max-width: 1920px;
 }

 .page-header #headertopbar .headertopbar-inner {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
     -ms-flex-pack: justify;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .page-header .headertopbar-revenue {
     display: inline-block;
     text-decoration: none;
 }

 .page-header .headertopbar-revenue .title {
     font-family: popping-semibold;
     margin: 0 0 2px;
     font-weight: 700;
     font-size: 12px;
     line-height: 1.2;
     letter-spacing: .05em;
     text-transform: uppercase;
     
 }


 .page-header .headertopbar-revenue .value {
     position: relative;
     margin: 0;
     padding-right: 22px;
     font-family: popping-semibold;
     font-weight: 800;
     font-size: 18px;
     line-height: 120%;
     letter-spacing: -.0045em; 
     display: inline-block;
 }


 .page-header .headertopbar-revenue .value i {
     font-size: 15px;
     margin-right: 8px;
 }


 .page-header #headertopbar .headertopbar-right {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;

 }

 .page-header .headertopbar-menu {
     font-family: inherit;
     list-style: none;
     margin: 0;
     padding: 0;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-align: center;
     align-items: center;
 }

 .page-header .headertopbar-menu li:first-child {
     margin-left: 0;
 }

 .page-header .headertopbar-menu li {
     display: inline-block;
     margin-left: 16px;
     padding: 0;
 }

 .page-header ul li,
 .page-header ol li {
     padding: 0;
 }

 .page-header .headertopbar-menu li a {
     text-align: center;
     padding: 8px;
     position: relative;
     font-family: inherit;
     display: block;
     font-weight: 400;
     font-size: 18px;
     line-height: 1;
     letter-spacing: -.0045em;
     color: #222;
     text-decoration: none;
 }

 .page-header .headertopbar-menu li a i {
     display: inline-block;
     font-size: 16px;
     vertical-align: baseline;
     margin-right: 9px;
 }

 .page-header #headertopbar .get_proposal_btn {
     display: none;
     margin-left: 16px;
 }

 .page-header .get_proposal_btn {
     padding: 12px 24px;
     font-weight: 600;
     font-family: inherit;
     font-size: 18px;
     line-height: 28px;
     text-align: center;
     letter-spacing: -.0045em;
     color: #fff;
     background: #207DE9;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     text-decoration: none;
     white-space: nowrap;
 }


 @media (max-width: 1550px) {
     .page-header .get_proposal_btn {
         font-size: 16px;
     }

     .page-header .headertopbar-menu li {
         margin-left: 8px;
     }
 }

 @media (max-width: 1199px) {
     .page-header #headertopbar .get_proposal_btn {
         padding: 12px 16px;
         font-size: 14px;
         line-height: 17px;
     }

     .page-header #headertopbar .headertopbar-right {
         width: 100%;
         -ms-flex-pack: justify;
         justify-content: space-between;
     }

     .page-header .headertopbar-menu li,
     .page-header .headertopbar-revenue,
     .page-header #headertopbar .get_proposal_btn {
         display: none;
     }
 }

 @media (max-width: 1199px) {

     .page-header .headertopbar-menu li.phone,
     .page-header #headertopbar .get_proposal_btn {
         display: block;
     }
 }





 /*#####################
 ####    Menu Area   ###
 #######################*/

 #headermenu {
     font-family: popping-semibold;
     background-color: #fff; 
     width: 100%; 
     z-index: +9999;
     transition: 0.3s ease-in-out;
     box-shadow: rgba(3,27,78,.1) 0 3px 4px;
 }

 #headermenu .headermenu-inner {
     display: flex;
     justify-content: space-between;
     align-items: center; 
     flex-wrap: wrap;
 }
 #headermenu .headermenu-inner .headermenu-logo img{
    width: 100%;
    max-width: 221px;
}
 
 .headermenu-main ul.headermenu-firstmenu {
     display: flex;
     justify-content: center;
     margin: 0px;
     padding: 0px;
     flex-wrap: wrap;
 }

 .headermenu-main ul.headermenu-firstmenu li {
     list-style: none;
 }
 .headermenu-main ul.headermenu-firstmenu li:hover {
   background:#fffce5;
   border-radius: 5px 5px 0px 0;
}
.headermenu-main ul.headermenu-firstmenu li:hover a{
    color:#ff6200;
 }

 .headermenu-main ul.headermenu-firstmenu li>a {
     border-radius: 8px 8px 0 0;
     text-align: left;
     position: relative;
     display: block;
     padding: 35px 24px;
     font-family: inherit;
     font-weight: 400;
     font-size: 16px;
     line-height: 100%;
     letter-spacing: -.0045em;
     color: #222;
     text-decoration: none;
     word-break: initial;
     cursor: pointer !important;
 }

 #menu-item-111:hover > .submenu-container{
    display: block;
 }

 .headermenu-main .submenu-container {
     width: 100%;
     background-color: #fffce5;
     position: absolute;
     left: 0px;
     padding: 20px 20px;
     display: none;
     z-index: +999;
 }

 .headermenu-main .submenu-container.active {
     display: block;
 }