/*
##########################
### Section 1
##########################
*/
#section-1 .banner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 4em;
}

#section-1 .carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  background-color: #234;
  border-radius: 50%;
}

#section-1 .banner-text {
  width: 100%;
  max-width: 780px;
}

#section-1 .banner-text h2 {
  line-height: 1em;
}

#section-1 .banner-slider {
  width: 100%;
  max-width: 420px;
}

#section-1 .banner-slider-pagination {
  bottom: -3em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

#section-1 .banner-slider-page {
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 50%;
  display: inline-block;
  height: 19px;
  margin: 5px 5px 5px 5px;
  opacity: 1;
  padding: 0;
  transition: transform .2s linear;
  width: 19px;
}

#section-1 .banner-slider-page.is-active {
  background: var(--black);
  transform: inherit;
}

#section-1 .banner-slider li.splide__slide {
  position: relative;
}

#section-1 .banner-slider .splide_btn {
  position: absolute;
  top: 60%;
  right: 0;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 35px;
  border-radius: 60px;
  gap: 23px;
  cursor: pointer;
}

#section-1 .banner-slider .btn_box {
  display: flex;
  flex-direction: column;
  color: var(--white);
}

#section-1 .banner-slider .btn_box img {
  width: 76%;
}

#section-1 .banner-slider .btn_box span {
  font-size: 16px;
}

#section-1 .banner-slider .btn_box span:first-child {
  font-family: popping-semibold;
  text-transform: uppercase;
}

#section-1 .banner-slider .btn_box span:last-child {
  font-family: popping-regular;
}

/*
##########################
### Section 1 - End
##########################
*/


/*
##########################
### Section 2
##########################
*/

#section-2 .number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  column-gap: 3em;
  row-gap: 3em;
  flex-wrap: wrap;
}

#section-2 .num-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 180px;
}

#section-2 .num-box span:first-child {
  font-family: popping-semibold;
  color: var(--white);
  font-size: 3em;
}

#section-2 .num-box span:last-child {
  font-family: popping-semibold;
  color: var(--white);
  font-size: 16px;
  text-align: center;
}

/*
##########################
### Section 2 - End
##########################
*/

/*
##########################
### Section 3 - Start
##########################
*/
#section-3 .icons-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
}

#section-3 .icons-container .custom-btn {
  text-decoration: none;
  color: var(--black);
  position: relative;
}

#section-3 .icons-container .custom-btn:after {
  position: absolute;
  content: "";
  width: 31px;
  height: 30px;
  background-image: url('../images/link-arrow-with-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 10px;
  top: -3px;
}

#section-3 .icons-container .icons-box {
  width: 100%;
  max-width: 100px;
}

#section-3 .icons-container .icons-heading {
  width: 100%;
  max-width: 700px;
}


#section-3 .scroll-container {
  /* height: 647px; */
  /* overflow-x: hidden; 
  position: sticky;
  top:0; */
}

#section-3 .scroll-container::-webkit-scrollbar {
  display: none;
}

.left {
  height: fit-content;
  top: 0px;
}

/*
##########################
### Section 3 - End
##########################
*/



/*
##########################
### Section 4 - Start
##########################
*/
#section-4 .verticle-box .ver-box {
  position: relative;
}

#section-4 .verticle-box .ver-box h6 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px 20px;
  font-size: 18px;
}



/*
##########################
### Section 4 - End
##########################
*/

/*
##########################
### Section 5 - Start
##########################
*/

#section-5 {}

#section-5 .bg-image {
  background-image: url(../images/girl.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/*
##########################
### Section 5 - End
##########################
*/




/*
##########################
### Section 6 - Start
##########################
*/
#section-6 .tabs-container {
  box-shadow: 1px 1px 30px #cbc6c6;
  min-height: 400px;
  border-radius: 30px;
}

#section-6 .tab-border-top {
  border-top: 2px solid #ddd;
}

#section-6 .nav-link {
  font-size: 18px;
  color: #000000;
  padding: 0.5em 1em;
}

#section-6 .nav-link:focus,
.nav-link:hover {
  color: var(--red);
}

#section-6 .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: var(--red);
  background-color: var(--white);
}

#section-6 .tabs-details {
  min-height: 400px;
}

#section-6 .tabs-details ul {
  list-style: none;
}

#section-6 .tabs-details ul li {
  background: url(../images/bullets.png) no-repeat top left;
  background-position: 0 8px;
  background-size: 11px;
  line-height: 1.5625;
  padding: 0 0 4px 23px;
}


#section-6 .tabs-details img {
  max-width: 380px;
}

/*
##########################
### Section 6 - End
##########################
*/



/*
##########################
### Section 7 - Start
##########################
*/
#reason_5 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

#reason_5 .reason-img {
  max-width: 145px;
  width: 100%;
}

#reason_5 .reason-text {
  max-width: 450px;
  width: 100%;
}

#section-7 .reason-slider-pagination {
  bottom: -3em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
  text-align: center;
}

#section-7 .reason__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

#section-7 .reason-slider-page {
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 50%;
  display: inline-block;
  height: 19px;
  margin: 5px 5px 5px 5px;
  opacity: 1;
  padding: 0;
  transition: transform .2s linear;
  width: 19px;
}

#section-7 .reason-slider-page.is-active {
  background: var(--black);
  transform: inherit;
}

#section-7 .swiper {
  width: 100%;
  height: 100%;
}

#section-7 .swiper-pagination-bullet {
  opacity: 1;
}

#section-7 .pagination-bottom {
  font-family: popping-semibold;
  font-size: 0px;
  bottom: -3em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

#section-7 .pagination-bottom span {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  width: 19px;
  height: 19px;
  pointer-events: auto;
}

#section-7 .pagination-top {
  position: absolute;
  top: 0px;
  right: 10px;
  margin: 0;
  height: 0px;
  z-index: +999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#section-7 .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

#section-7 .pagination-top .swiper-pagination-bullet {
  width: 55px;
  font-family: popping-semibold;
  font-size: 25px;
  border-radius: 40px;
  height: 55px;
  line-height: 25px;
  background-color: #ddd9d967;
  padding: 15px;
  color: #cccccc;
  opacity: 1;

}

#section-7 .pagination-bottom .swiper-pagination-bullet {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  width: 19px;
  height: 19px;
  pointer-events: auto;
  background-color: #fff;
  border: 2px solid #000000;
}

#section-7 .pagination-bottom .swiper-pagination-bullet-active {
  color: #fff;
  background: #000000;
}

#section-7 .pagination-top .swiper-pagination-bullet-active {
  color: #fff;
  background: var(--dark);
}

/*
##########################
### Section 7 - End
##########################
*/


/*
##########################
### Section 8 - Start
##########################
*/

#section-8 {
  background-color: var(--dark);
}

/*
##########################
### Section 8 - End
##########################
*/



/*
##########################
### Section 9 - Start
##########################
*/

#section-9 {
  background-color: var(--blue);
}

#section-9 .home-testimonial {}

#section-9 .testimonial-record {}

#section-9 .testimonial-record .testi-picture {
  width: 100%;
  max-width: 300px;
  position: relative;
}

#section-9 .testimonial-record .testi-picture:after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.763);
}

#section-9 .testimonial-record .testi-picture img {
  width: 120px;
}

#section-9 .testimonial-record .testi-text {
  width: 100%;
  max-width: 600px;
}

#section-9 .testimonial-slider-page {
  background: #fff0;
  border: 2px solid var(--white);
  border-radius: 50%;
  display: inline-block;
  height: 19px;
  margin: 5px 5px 5px 5px;
  opacity: 1;
  padding: 0;
  transition: transform .2s linear;
  width: 19px;
}

/* Pagination */
#section-9 .testimonial__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
  padding-top: 2em;
  gap: 0.6rem;
}

#section-9 .testimonial__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

#section-9 .testimonial-slider-page.is-active {
  background: var(--white);
  transform: inherit;
}

/* Pagination */

/*
##########################
### Section 9 - End
##########################
*/


/*
##########################
### Section 10 - Start
##########################
*/
#section-10 {
  background-color: #f3ecec;
}

#section-10 .rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-10 .rating-container .rating-box {
  width: 100%;
  max-width: 400px;
}

#section-10 .rating-container .rating-box img {
  object-fit: contain;
  aspect-ratio: 3/1;
}

/*
##########################
### Section 10 - End
##########################
*/


/*
##########################
### Section 11 - End
##########################
*/
#section-11 .bg-image {
  background-image: url(../images/let-supercharge-your\ -visual-communication!.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/*
##########################
### Section 11 - End
##########################
*/


/*
##########################
### Section 12 - start
##########################
*/
#section-12 .swiper {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

#section-12 .swiper-slide {
  background-position: center;
  background-size: cover;
  height: auto;
}

#section-12 .swiper-slide img {
  display: block;
  width: 100%;
}

#section-12 .swiper-pagination-bullet {
  width: 19px;
  height: 19px;
  border: 2px solid var(--white);
  margin: 5px 8px 5px 8px;
  background-color: rgba(255, 255, 255, 0);
  opacity: 1;
}

#section-12 .swiper-pagination-bullet-active {
  background-color: #fff;
}

#section-12 .swiper-pagination-3d {
  position: inherit;
  width: 100%;
  text-align: center;
  margin-top: 34px;
}

/*
##########################
### Section 12 - End
##########################
*/


/*
##########################
### Section 13 - Start
##########################
*/
#section-13 .brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6em;
  flex-wrap: wrap;
}

#section-13 .brand-container .icon-txt {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 236px;
  top: -15px;
  left: -26px;
  text-align: center;
  z-index: +99999;
  background: #ffffffd9;
  border-radius: 10px;
  padding: 12px 12px;
  box-shadow: 0px 0px 7px #ffc514;
}

#section-13 .brand-container .icon-txt p {
  font-size: 13px;
  font-family: popping-regular;
  color: var(--black);
  margin-bottom: 5px;
}

#section-13 .brand-container .icon-txt a {
  font-size: 13px;
  font-family: popping-semibold;
  color: var(--black);
  text-decoration: none;
}

#section-13 .brand-container .icons {
  width: 100%;
  max-width: 180px;
  position: relative;
  padding: 20px 0px;
}

#section-13 .brand-container .icons img {
  width: 100%;
  height: 70px;
}

/*
##########################
### Section 13 - End
##########################
*/


/*
##########################
### Section 14 - STart
##########################
*/

#section-14 .card{
  border:0px;
  border-radius:23px;
  max-width: 400px;
  row-gap:1em;
  margin:0 auto;
}
#section-14 .card-body{
  min-height: 231px;
  padding: 1rem 1.8rem;
}
#section-14 .card-body .card-date{
  font-size:15px;
}
#section-14 .button{
 font-size: 17px;
}
#section-14 .cta-pair__button, .cta-pair__link { 
  position: absolute;
  bottom: 30px;
  padding: 0px 1.8rem;
  left: 0;
  text-align: left!important;
  width: 100%;
}
#section-14 .button__inner {
  min-height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
/*
##########################
### Section 14 - End
##########################
*/

/*
##########################
### Section 15 - Start
##########################
*/
#section-15{
 position: relative; 
 z-index: +1;
}
#section-15 .container:before{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  max-width: 528px;
  height: 100%;
  background-image: url(../images/contact-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
 }

/*
##########################
### Section 15 - End
##########################
*/

/*
##########################
### Section 16
##########################
*/
#section-16 .accordion-button { 
  padding: 1.25rem 1.25rem; 
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  align-items: flex-start;
  transition: var(--bs-accordion-transition);
}

#section-16 .accordion-button:focus{
  box-shadow:none;
}
#section-16 .accordion-button:not(.collapsed){
  box-shadow:none;
  background: #f0f0f0;
}

#section-16 .accordion-body{
  padding: 0rem 1.25rem 1rem 1.25rem;
  background: #f0f0f0;
}

#section-16 .accordion-button::after{
  background-image:url('../images/plus.png');
}
#section-16 .accordion-button:not(.collapsed)::after{
  background-image:url('../images/minus.png');
}
.accordion-item { 
  border: 2px solid var(--bs-accordion-border-color);
}
/*
##########################
### Section 16 - End
##########################
*/

/*
##########################
### Footer Section
##########################
*/
#footer{

}

#footer ul.footer-menu{
  width:100%;
  max-width:280px;
  color:var(--white);
  text-align:left;
  margin:0 auto;
  list-style: none;
}

#footer .footer-menu li{
   padding: 5px 0px;
   font-family:'popping-regular';
   font-size: 17px;
}
#footer .footer-menu li a{
  color:#fff;
  text-decoration: none;
}
#footer .footer-img1{
  width:100%;
  max-width: 230px;
}
#footer .footer-img2{
  width:100%;
  max-width: 160px;
}

#footer ul.footer-menu-2{
  width:100%;
  max-width:280px;
  color:var(--white);
  text-align:left;
  margin:0 auto;
  list-style: none;
}
#footer .footer-menu-2 li{
  padding: 6px 0px;
  font-family:'popping-semibold'; 
  font-size: 22px;
}

#footer .footer-menu-2 li a{
  color:#fff;
  text-decoration: none;
}
/*
##########################
### Footer Section End
##########################
*/

/************ Responsive Media Query ***************/
@media(max-width:1550px) {
  #section-15 .container:before { 
    width: 40%;
    max-width: 400px;
    height: 80%;
  }
}
@media(max-width:1400px) {
  #section-2 .number-container {
    column-gap: 2em;
    row-gap: 3em;
  }

  #section-2 .num-box {
    max-width: 164px;
  }

  #section-13 .brand-container .icons {
    max-width: 146px;
  }
  #section-15 .container:before { 
    width: 40%;
    max-width: 400px;
    height: 80%;
  }
}

@media(max-width:1200px) {
  #section-13 .brand-container .icons {
    max-width: 120px;
  }
}

@media(max-width:1280px) {
  body {
    font-size: 70%;
  }

  #section-1 .banner-flex {
    flex-wrap: wrap;
  }

  #section-1 .banner-text {
    width: 100%;
    max-width: 530px;
  }

  #section-1 .banner-slider {
    width: 100%;
    max-width: 350px;
  }
  #section-15 .container:before { 
    width: 63%;
    max-width: 347px;
    height: 68%;
  }
}

@media(max-width:1024px){
  #section-15 .container:before { 
    display: none;
  }
}

@media(max-width:992px) {
  #section-1 .banner-flex {
    justify-content: center;
  }

  #section-1 .banner-text .banner-hero_trigger {
    text-align: center;
  }
}

@media(max-width:768px) {
  #section-9 .testimonial-record .testi-picture:after {
    display: none;
  }

  br {
    display: none;
  }

  #section-1 .banner-slider .btn_box span {
    font-size: 15px;
  }

  #section-1 .banner-slider-pagination {
    bottom: -2em;
  }

  #section-3 .scroll-container {
    height: auto;
    overflow-x: initial;
  }

  #section-10 .rating-container {
    flex-wrap: wrap;
  }

  #section-13 .brand-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer ul.footer-menu{
    max-width:350px; 
  }
  #footer .footer-img1{ 
    max-width: 200px;
  }
  
  #footer ul.footer-menu-2{
    max-width:350px;
  }
}

@media(max-width:632px) {

  body {
    font-size: 65%;
  }

  #section-1 .banner-slider-pagination {
    bottom: 0em;
  }

  #section-1 .banner-text .banner-hero_trigger {
    text-align: center;
  }

  #section-7 .pagination-top .swiper-pagination-bullet {
    font-size: 20px;
  }
}

@media(max-width:500px) {
  body {
    font-size: 60%;
  }

  #section-6 .tabs-details img {
    max-width: 300px;
  }

  #section-6 .nav-link {
    padding: 0.1em 1em;
  }

  #section-3 .icons-container .icons-box {
    max-width: 80px;
  }
}

@media(max-width:425px){
  #section-13 .brand-container .icons {
    max-width: 100px;
    padding: 15px 0px;
  }
  #section-13 .brand-container { 
    column-gap: 4em;
  }
}
@media(max-width:417px) {
  #section-7 .pagination-top .swiper-pagination-bullet {
    width: 50px;
    border-radius: 40px;
    height: 48px;
    line-height: 17px;
  }

}

/********** Banner Area ********/